body{
	background:#313C46;
	font-size:14px;
	color:#ffffff;
	font-family:"微软雅黑";
}

.box{ 
	width:400px;
	margin:0 auto; 
	padding-top:100px;
}
h1{
	font-size:30px;
	text-shadow: 2px 5px 5px rgba(0,0,0,0.8);
}
a{
	width:200px;
	height:36px;
	border:2px solid #275D88;
	text-align:center;
	display:block;
	line-height:36px;
	margin:30px auto;
	text-decoration:none;
	font-size: 20px;
	color:#ffffff;
}
a:hover{
	background:#2C6B98;
}